/*
                                _        
     /\                        | |       
    /  \  _   _  __ _ _   _ ___| |_ ___  
   / /\ \| | | |/ _` | | | / __| __/ _ \ 
  / ____ \ |_| | (_| | |_| \__ \ || (_) |
 /_/    \_\__,_|\__, |\__,_|___/\__\___/ 
                 __/ |                   
                |___/                    

          Made by GB Factory
                2019
          wwww.gb-factory.com
*/


/* Video Player */
.video-js .vjs-progress-control {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 1.2rem;
    padding-bottom: 15px;
    width: calc(100% - 5rem);
}
.video-js .vjs-time-control {
    position: absolute;
    right: 0;
}

/* Bootstrap edits */

.nav-container {
    font-family: open sans, Lato, Calibri;
}

.nav-container>.navbar {
    padding: 20px 2rem;
}

@media only screen and (min-width: 993px) {
    .nav-container .container {
        max-width: 62%;
    }
}

.nav-container .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .nav-container .navbar-brand img {
        height: 80px;
    }
}

@media only screen and (max-width: 500px) {
    .nav-container .navbar-brand img {
        height: 50px;
    }
}

.nav-container ul.navbar-nav li {
    padding-top: 1rem;
}

.nav-container ul.navbar-nav li {
    margin-right: .5rem;
    font-size: 1rem;
}

.dropdown-item, .navbar-nav .nav-link {
    color: #fff;
    transition: color .2s ease;
}

.nav-container .container .nav-divier {
    padding: .5rem .1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #9c9c9c;
}

.nav-container .container .nav-divier::before {
    content: '|';
}

main.content {
    margin-top: 1rem;
}

@media only screen and (min-width: 993px) {
    main.content>.container {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
